#ribbon
  .button=link_to 'Columns', '#', :class => 'ribbon_button'
  .button=link_to 'Filters', '#', :class => 'ribbon_button'
  .button=link_to 'Sorting', '#', :class => 'ribbon_button'
-semantic_form_for report, :html => {:class => 'bp'} do |f|
  -f.inputs :name => '' do
    =f.input :name

