%table
  %thead
    %tr
      %th Name
      %th Description
  %tbody
    -reports.each do |report|
      %tr(class="#{ cycle('odd', 'even') }" rel="#{report.id}")
        %td=report.name
        %td=report.description
