%h1=report.name
%table
  %thead
    %tr
      -report.humanized_column_names.each do |column|
        %th=column
  %tbody
    -report.data.each do |data_row|
      %tr
        -report.column_names.each do |column_name|
          %td=data_row.send(column_name)

