!!!
%html
  %head
    %title Reports
    =stylesheet_link_tag 'formtastic', 'formtastic_changes', 'jquery-ui', 'screen', :media =>  'screen, projection'
    =stylesheet_link_tag 'print', :media => 'print'
    = javascript_include_tag 'jquery.js','jquery-ui.min.js', 'application.js'
    = csrf_meta_tag
  %body.bp
    #container
      = yield
