!!!
%html
  %head
    %title Reports
    =stylesheet_link_tag 'formtastic', 'formtastic_changes', 'screen', :media => [ 'screen', 'projection' ]
    =stylesheet_link_tag 'print', :media => 'print'
    = javascript_include_tag 'jquery.js', 'application.js'
    = csrf_meta_tag
  %body.bp
    #container
      = yield
